
<!-- restaurant/templates/restaurant/main.html -->
{% extends 'restaurant/base.html' %}
{% block content %}
<div >
    <img src="https://cdn.enjoytravel.com/img/travel-news/brisas-colombianas-elizabeth.jpg" alt="Colo_Food" class="main_img">
<h2>Bienvenidos</h2>
    <p>This is my little Colombian Restaurant! I hope you enjoy the food!</p>
    <p>Click the order button above to place your order.</p>

    <br>

<h2>Come visit us in person!</h2>
    <p>123 Bogota Boulevard Boston, MA 02215</p>
    <h4>Hours of Operation</h4>
    <table class="hours-table">
        <tbody>
            <tr>
                <td>Monday</td>
                <td>10 AM - 10 PM</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>10 AM - 10 PM</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>10 AM - 10 PM</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>10 AM - 10 PM</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>10 AM - 11 PM</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>10 AM - 11 PM</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>10 AM - 10 PM</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}