{% extends "quotes/base.html" %}
{% block content %}
    <h2>About</h2>
    <p>Dr. Seuss (Theodor Seuss Geisel) was an American author and illustrator born on March 2, 1904, in Springfield, Massachusetts. 
        He is best known for his beloved children's books, including "The Cat in the Hat," "Green Eggs and Ham," and "Oh, the Places You’ll Go!" 
        His stories are famous for their fun rhymes, silly characters, and colorful illustrations.
        Dr. Seuss began his career as a cartoonist before publishing his first children's book in 1937. 
        His books are characterized by important messages about kindness and caring for the environment in his work. 
        He passed away on September 24, 1991, but his books continue to delight readers of all ages.
        
        </p>
    <p> Eva, the creator, of this web application has loved Dr. Seuss since she was a little girl.
        One the quotes featured in this web application was a senior quote and helped shift her 
        perspective on life after her third grade teacher introduced her to the Seuss books. 
    </p>
{% endblock %}